:root {
  --brand-color: #4d5ae5;
  --navy-blue-color: #2e2f42;
  --white-color: #ffffff;
  --slate-color: #434455;
  --cloud-color: #f4f4fd;

  --text-font-family: "Raleway", sans-serif;
  --header-front-family: "Roboto", sans-serif;
}

/* Global style */
body {
  --header-font-family: "Roboto", sans-serif;
  color: var(#434455);
  background-color: var(#ffffffff);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Classes */

.logo-link {
  color: var(--brand-color);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-link-second {
  color: var(--navy-blue-color);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
}

.list {
  list-style: none;
}

.index-nav {
  color: var(--navy-blue-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  list-style: none;
}

.index-nav:hover,
.index-nav:focus {
  color: #404bbf;
}

.index-address {
  color: var(--slate-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.index-address:hover,
.index-address:focus {
  color: var(--brand-color);
}

.title-all {
  color: var(--white-color);
  background-color: var(--navy-blue-color);
}

.title {
  color: var(--white-color);
  background-color: var(--#2e2f42);
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.button-html {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
}

.button-html-brand {
  background-color: var(--brand-color);
}

.list {
  list-style: none;
}

.title-second {
  color: var(--#2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.12px;
  letter-spacing: 0.02em;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.subtitle {
  color: var(--navy-blue-color);
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.paragraf {
  color: var(--#434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1, 5;
  letter-spacing: 0.02em;
}

.title-images {
  color: var(--navy-blue-color);
}

.title-our-team {
  color: var(--navy-blue-color);
}

.team-name {
  color: var(--navy-blue-color);
}

.button-portofolio {
  font-family: Roboto;
  color: var(--brand-color);
  border-radius: 4px;
  border: #e7e9fc;
  background: #f4f4fd;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button-portofolio:hover,
.button-portofolio:focus {
  color: var(--white-color);
  background-color: #404bbf;
}

.logo-web-footer {
  color: var(--brand-color);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.5px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: none;
}

.logo-studio-footer {
  color: var(--cloud-color);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.5px;
  letter-spacing: 0.03em;
  text-transform: none;
}

.paragraf-footer {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1, 5px;
  letter-spacing: 0.02em;
  text-align: left;
}

.paragraf-footer {
  color: var(--cloud-color);
}

.fundal-footer {
  background-color: var(--navy-blue-color);
}
